[Unit]
Description=BT remote network controller
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=pi
StartLimitBurst=10
StartLimitIntervalSec=120
ExecStart=/home/pi/e/astro/bluetooth-net-controller

[Install]
WantedBy=multi-user.target
